*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0.5rem;
    /*background:#040d20;*/
    background-image: url(../imgFoto/bg-inicio.jpg);
    font-family: 'League Spartan', sans-serif;
    }
li{
    list-style: none;
}
a{
    text-decoration: none;
}