*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0.5rem;
    /*width: fit-content;*/
    height: auto;
    background-image: url(../imgFoto/bg-inicio.jpg);
    font-family: 'League Spartan', sans-serif;
    }
li{
    list-style: none;
}
a{
    text-decoration: none;
}
@media (max-width: 576px){
    body{
        background-image: url(../imgFoto/bg-inicio2.jpg);
    }
}