$color1: #163172;
$color2: #1E56A0;
$color3: #9f8535;
$color4: #D6E4F0;
$color5: #f6f6f6;
$color6: lightgrey;
$color7: white;
$color8: #e7ddbd; 
$fsize:  70px;
$color9: rgb(255, 124, 2);
$color10:rgb(50, 132, 254);
$color11:rgb(55, 197, 248);
$color12:#e7ddbd48;  