.tituloC{
    @extend .tituloQ;
    font-size: $fsize - 20;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}
.forMensaje{
    background-color: $color1;
    border-radius: 15px;
    padding: 10px 20px;
    width: 45%;
    height: auto;
    font-weight: bold;
    font-size: larger;
    color: $color7;
}
.btnEnviar{
    background-color:$color10;
    width: 9rem;
    height: 4rem;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    color: $color7;
    margin: 5px 5px;
}
@media (max-width: 576px){
    .tituloC{
        font-size: $fsize - 30;
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
    }
    .forMensaje{
        width: 70%;
        height: auto;
    }
}