.tituloC{
    @extend .tituloQ;
    font-size: $fsize - 20;
    display: flex;
    justify-content: center;
    margin-left: 0.4rem;
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;
}
.forMensaje{
    background-color: $color1;
    border-radius: 15px;
    padding: 10px 20px;
    width:40%;
    font-weight: bold;
    font-size: larger;
    color: $color7;
}
.btnEnviar{
    background-color:$color10;
    width: 9rem;
    height: 4rem;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    color: $color7;
    margin: 5px 5px;
}