.fContainer{
    display: grid;
    width: 100%;
    height: auto;
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: solid 2px $color5;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40px 220px 30px;
    grid-template-areas: 
    "ftitulos ftitulos   ftitulos"
    "fMenu    fContacto  fRedes"
    "legal     legal      legal";
}
.ftitulos{
    grid-area: ftitulos;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    color: $color3;
    font-weight: bold;
}
.fMenu{
    grid-area: fMenu;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: flex-start;
    margin-left: 140px;
    font-size: 1.3rem;
    a{
    color: $color5;
    }
}
.fContacto{
    grid-area: fContacto;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: flex-start;
    padding-top: 10px;
    margin-left: 170px;
    margin-bottom: 15px;
    font-size: 1.4rem;
    color: $color5;
}
.fRedes{
    grid-area: fRedes;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    margin-right: 45px;
    margin-bottom: 20px;
}
.legal{
    grid-area: legal;
    display: flex;
    background-color: rgb(15, 15, 15);
    justify-content:center;
    align-items:center;
    padding-top: 15px;
    color: $color4
}