.tituloI{
    color: $color9;
    font-size: $fsize;
    font-weight: bold;
    text-align: center;
    margin-top: 4rem;
}
.h2Inicio1{
    color: $color7;
    font-weight: bold;
    text-align: center;
    padding: 0px 80px; 
    margin: 2.5rem 2rem 4.5rem 2rem;
}
.h2Inicio2{
    color: $color9;
    font-size: 3rem;
    text-align: center;
    padding: 0px 80px; 
    margin: 2rem 2rem 4rem 2rem;
}

@media (max-width: 576px){
.tituloI{
    font-size: $fsize - 20px;
    }
.h2Inicio1{
    font-size: 30px;
    }
.h2Inicio2{
        font-size: 40px;
    }
}