.h2Obser{
   color: $color7;
}
.pObser{
   color: $color7;
   text-align: justify;
   padding: 5px 2rem;
   border-bottom: solid 1px $color3;
}
.obsSubtitulo{
font-size: 2rem;
font-weight: bold;
text-decoration: underline;
color: $color5;
}
.obsParrafo1{
   font-size: 1.5rem;
   color: $color5;
   text-align: justify;
   line-height: 1.5;
}
.colorIt{
   color: $color3;
}
.obsParrafo2{
   @extend .obsParrafo1;
   margin-left: 50px;
}
.tablero{
   background-color:$color12;
   border-radius: 15px;
   padding: 20px;
}
.titTablero{
   font-size: 2rem;
   font-weight: bold;
   color: $color11;
   text-align: center;
}
.parrTab{
   font-size: 1.5rem;
   font-weight: bold;
   color: $color7;
   line-height: 1.5;
   text-align: center;
}
.IrTab{
   @extend .titTablero;
   margin-top: 20px;
}
