.tituloI{
    color: $color9;
    font-size: $fsize;
    font-weight: bold;
    margin-top: 4rem;
    text-align: center;
}
.h2Inicio1{
    color: $color7;
    font-weight: bold;
    text-align: center;
    padding: 0px 80px; 
    margin: 2.5rem 2rem 4.5rem 2rem;
}
.h2Inicio2{
    color: $color9;
    font-size: 3rem;
    text-align: center;
    padding: 0px 80px; 
    margin: 2rem 2rem 4rem 2rem;
}