.tituloP{
    @extend .tituloI;
    font-size: $fsize - 10;
    margin: 2rem 0rem 0rem 3rem;
}
.pPubynews{
    color: $color7;
    text-align: justify;
    padding: 1rem 2rem;
    border-bottom: solid 1px $color3;
}
.fila1{
    background-image: url(../../imgFoto/library10.jpg);       
}
.carrousel{
width: 40%;
height: auto;
}
.fila2{
    background-image: url(../);
}
.titFormSus{
    color: $color7;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-left: 4rem;
}
.formSus{
    width: 500px;
    height: 500px;
    padding: 15px 25px;
    margin-left: 3rem;
    margin-bottom: 1.5rem;
    border: solid 3px $color5;
    border-radius: 15px;
    background-color: $color2;
    font-size: large;
    font-weight: bold;
    color: $color5;
}
.btnSubmit{
    background-color: $color3;
    width: 7rem;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: $color1;
    margin-top: 0.7rem;
    margin-left: 10rem ;
}
.parrafo{
    background-color:rgba(111, 88, 59, 0.449);
    width: 600px;
    height: 420px;
    margin-top: 8rem;
    margin-bottom: 2rem;
    border-radius: 15px;
    font-size: 2.2rem;
    font-weight:bold;
    text-align: justify;
    line-height: 1.7;
    color: $color7;
}