.tituloQ{
    @extend .tituloI;
    color: $color10;
    font-size: $fsize - 10;
}
.bgsection1{
    background-image: radial-gradient(circle, $color7, $color3);
    width:  65rem;
    height: auto;
    padding: 10px;
    .subtit1{
        font-size: 30px;
        color: $color1;
        font-weight: bold;
        text-align: center;
    }
}
.subtit2{
    font-size: 55px;
    color: $color1;
    font-weight: bold;
    text-align: center;
}
.parrafo1{
        color: $color2;
        text-align: center;
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 2.5rem;
}
.valores1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 150px; 
    margin-left: 90px;
}
.icoInn{
    margin-left: 40px;
    height: auto;
    margin-top: 180px;
}
.innovacion{
    font-size:xx-large;
    font-weight: bold;
    color: $color2;
    width: 300px;
    height: auto;
    align-content: flex-start;
    margin-bottom: 300px;
    margin-left: 25px;
    margin-top: 20px;
}
.icoTra{
    margin-left: 40px;
    height: auto;
    margin-top: 190px;
}
.transparencia{
    @extend .innovacion;
    margin-bottom: 00px;
    margin-left: 0px;
    margin-top: 20px;
}
.icoEfi{
    margin-left: 50px;
    height: auto;
    margin-top: 200px;
}
.eficiencia{
    @extend .innovacion;
    margin-bottom: 300px;
    margin-left: 45px;
    margin-top: 20px;
}
.valores2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 150px; 
    margin-left: 90px;
    margin-top: 50px;
}
.icoInt{
    margin-left: 40px;
    height: auto;
}
.integridad{
    @extend .innovacion;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-top: 20px;
}
.icoCal{
    margin-left: 50px;
    height: auto;
}
.calidad{
    @extend .innovacion;
    margin-bottom: 100px;
    margin-left: 40px;
    margin-top: 20px;
}
.icoCom{
    margin-left: 30px;
    height: auto;
    margin-right: 20px;
}
.compromiso{
    @extend .innovacion;
    margin-bottom: 100px;
    margin-right: 20px;
    margin-top: 20px;
}
.bgsection2{
    background-color: $color2;
    background-image: linear-gradient(to bottom, $color1, $color10);
    width: 65rem;
    height: auto;
    padding-bottom: 20px;
    .subtit3{
        font-size: 30px;
        color: $color3;
        font-weight: bold;
        text-align: center;
    }
}
.subtit4{
    font-size: 55px;
    color: $color3;
    font-weight: bold;
    text-align: center;
}
.directora{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 200px;
    color: $color7;

}
.directores1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px
}
.directores2{
    @extend .directores1;
    color: $color7;
    margin-top: 10px;
}
.tag{
    background-color: $color2;
    color: $color7;
    font-size: xx-large;
    font-weight: bold;
}
.tag1{
    @extend .tag;
    font-size: x-large;
}
.tag2{
    color: $color1;
    font-size: large;
    font-weight: bold;
    .linkedin{
        text-decoration-line: underline;
        color: blueviolet;
    }
}
@media (max-width: 576px){
    .bgsection1{
        width: 100%;
        height: 700px;
    }
    .parrafo1{
        margin-bottom: 0.5rem;
    }
    .valores1{
        background-color:rgba(58, 40, 18, 0.545);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height:80px; 
        margin-left: 0px;
        margin-bottom: 50px;
    }
    .icoInn{
        display: none;
    }
    .icoTra{
        display: none;
    }
    .icoEfi{
        display: none;
    }
    .innovacion{     
        width: 1px;
        height: auto;
        margin-top: 1px;
        font-size: 2.2rem;
        margin-bottom: 1px;
        margin-left: 1px;
        margin-right: 150px;
        color:$color11;  
    }
    .transparencia{
        width: 1px;
        height: auto;
        margin-top: 1px;
        font-size: 2.2rem;
        margin-bottom: 1px;
        margin-left: 0px;
        margin-right: 190px;
        color:$color11;       
    }
    .eficiencia{
        width: 1px;
        height: auto;
        margin-top: 1px;
        font-size: 2.2rem;
        margin-bottom: 1px;
        margin-left: 1px;
        margin-right: 130px;
        color:$color11;
    }
    .valores2{
        background-color:rgba(58, 40, 18, 0.545);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height:80px; 
        margin-left: 0px;
        margin-bottom: 150px;
    }
    .icoInt{
        display: none;
    }
    .icoCal{
        display: none;
    }
    .icoCom{
        display: none;
    }
    .integridad{
        width: 1px;
        height: auto;
        margin-top: 1px;
        font-size: 2.2rem;
        margin-bottom: 1px;
        margin-left: 1px;
        margin-right: 170px;
        color:$color11;      
    }
    .calidad{
        width: 1px;
        height: auto;
        margin-top: 1px;
        font-size: 2.2rem;
        margin-bottom: 1px;
        margin-left: 0px;
        margin-right: 120px;
        color:$color11;  
    }
    .compromiso{ 
        width: 1px;
        height: auto;
        margin-top: 1px;
        font-size: 2.2rem;
        margin-bottom: 1px;
        margin-left: 1px;
        margin-right: 160px;
        color:$color11;       
    }
    .bgsection2{
        width: 100%;
        height: auto;
    }
}
