/* RESETEOS Y ESTILOS UNIVERSALES - PALETA: https://colorhunt.co/palette/f6f6f6d6e4f01e56a0163172 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0.5rem;
    background:#040d20;
    font-family: 'League Spartan', sans-serif;    
}
/*li{
    list-style: none;
}
a{
    text-decoration: none;
}*/